<div class="form-widget">

	<div class="form-result"></div>

	<div class="row">
		<div class="col-lg-6">
			<form class="row" action="include/form.php" method="post" enctype="multipart/form-data">
				<div class="form-process">
					<div class="css3-spinner">
						<div class="css3-spinner-scaler"></div>
					</div>
				</div>
				<div class="col-12 form-group">
					<label>Nama Sesi Broadcast:</label>
					<input type="text" name="template-pesan-name" id="template-pesan-name" class="form-control required" value="" placeholder="Nama template pesan">
				</div>
				
				<div class="col-12 form-group">
					<div class="row">
						
						<div class="w-100"></div>
						
						<div class="col-md-6 form-group">
							<label>Tipe Konten:</label>
							<div class="btn-group d-flex" data-bs-toggle="buttons">
								<input type="radio" class="btn-check" name="broadcast-content-type" id="broadcast-content-type-generic" value="generic">
								<label class="btn btn-outline-secondary text-transform-none ls-0" for="broadcast-content-type-generic">Generic</label>

								<input type="radio" class="btn-check" name="broadcast-content-type" id="broadcast-content-type-personalized" value="personalized">
								<label class="btn btn-outline-secondary text-transform-none ls-0" for="broadcast-content-type-personalized">Personalized</label>
							</div>
							{{!-- <select class="form-select" name="template-pesan-gender" id="template-pesan-gender">
								<option value="">-- Select One --</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select> --}}
						</div>
						<div class="w-100"></div>
						<div class="col-md-6 form-group">
							<label>Kategori Event:</label>
							<select class="form-select required" name="template-pesan-event" id="template-pesan-event">
								<option value="">-- Pilih Satu --</option>
								<option value="qurban">Idul Qurban</option>
								<option value="khitan">Khitan</option>
								<option value="umum">Umum</option>
							</select>
						</div>
						<div class="col-md-6 form-group">
							<label>Kategori Segmen:</label>
							<select class="form-select required" name="template-pesan-segmen" id="template-pesan-segmen">
								<option value="">-- Pilih Satu --</option>
								<option value="pengurus">Pengurus</option>
								<option value="pembina">Pembina</option>
								<option value="pengawas">Pengawas</option>
								<option value="umum">Umum</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label>Isi Template:</label>
						<textarea name="template-pesan-message" id="template-pesan-message" class="form-control required" cols="30" rows="10"></textarea>
					</div>
				</div>
				<div class="col-12 d-none">
					<input type="text" id="template-pesan-botcheck" name="template-pesan-botcheck" value="">
				</div>
				<div class="col-12">
					<button type="submit" name="template-pesan-submit" class="btn btn-secondary">Buat Template</button>
					<button type="button" name="edit-template" class="btn btn-primary">Edit Template</button>
					<button type="button" name="delete-template" class="btn btn-danger">Delete Template</button>
					
				</div>

				<input type="hidden" name="prefix" value="template-pesan-">
			</form>
		</div>

		<div class="col-lg-6 ps-lg-5">
			<div class="col-md-6">
				<h4>Daftar Template</h4>
				<div class="list-group">
					<label class="list-group-item mb-0 text-transform-none fw-normal ls-0 text-size-sm font-body">
							<input class="form-check-input me-1" type="radio" name="list-group-radio" value="" aria-label="..." checked>
							First radio
					</label>
					<label class="list-group-item mb-0 text-transform-none fw-normal ls-0 text-size-sm font-body">
							<input class="form-check-input me-1" type="radio" name="list-group-radio" value="" aria-label="...">
							Second radio
					</label>
					<label class="list-group-item mb-0 text-transform-none fw-normal ls-0 text-size-sm font-body">
							<input class="form-check-input me-1" type="radio" name="list-group-radio" value="" aria-label="...">
							Third radio
					</label>
					<label class="list-group-item mb-0 text-transform-none fw-normal ls-0 text-size-sm font-body">
							<input class="form-check-input me-1" type="radio" name="list-group-radio" value="" aria-label="...">
							Fourth radio
					</label>
					<label class="list-group-item mb-0 text-transform-none fw-normal ls-0 text-size-sm font-body">
							<input class="form-check-input me-1" type="radio" name="list-group-radio" value="" aria-label="...">
							Fifth radio
					</label>
				</div>
			</div>

		</div>

	</div>

</div>